@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Index";
}

<script>
            $(document).ready(function () {
                $('#forumTable').dataTable();
            });
</script>

<div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h1>
                    welcome to the machine.
                </h1>
                <p>
                    openForum is an open-source message board solution written using C#  and ASP.NET.
                    My intention for this project is to offer a forum that is full featured, clean, and easily intregrated into any kind
                     of website—especially those which are already leveraging the Bootstrap framework.
                </p>
                <p>
                    While there are many other message board software solutions, I feel that openForum fills a gap in the market for a light, modular, and responsive  forum 
                    that fits anywhere. The look, feel, and content of openForum can be
                     changed very easily with without changing a plethora of files; many things can be completely overhauled in just one file.
                </p>
                <p>
                    So not only is openForum a great message board solution, but it's also great way to start a new website making use of the Twitter team's <a href="http://getbootstrap.com/">Bootstrap</a> 
                    framework. Licensing details as well as a a guide to setting up openForum can be found in the footer. I'd love to hear from anyone who is considering using my software, so please shoot me an email.
                </p>
                <p>
                    Regards,<br>
                    Tom Smith
                </p>
            </div>
            <div class="col-md-3">
                <figure>
                    <img src="/Images/tom.jpg" alt="Photo of tom" class="img-rounded">
                    <figcaption>Super handsome guy.</figcaption>
                </figure>
            </div>
        </div>
</div>