@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forum Index";
}
<div class="container-fluid">
    <div class="row">
        <div class=" col-md-7 col-md-offset-1">
            <h1>one of us.</h1>
            <form method="post" action="#" class="form-vertical" role="form">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Choose a Username">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Choose a Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <button type="submit" id="submit" name="submit" class="btn btn-success">Create Account</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>                   