@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Forum Index";
}


<div class="colspan-md-4 col-md-offset-1">
    <jumbotron>
        <h1>Lets chat.</h1>
        <p>We have a lot to talk about, let's get going.</p>
    </jumbotron>
</div>